* {
    margin: 10px;
    padding: 10px;
}
body {
    color: white;
    font-family: monospace;
    background-image: url(https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
header {
    background-color: rgba(0, 0, 0, 0.9 );
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    font-size: 1.85rem;
}
.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 2.25rem;
}
.nav-bar a:hover {
    text-decoration: underline;
}
.title {
    background-color: rgba(0, 0, 0, 0.9 );
    font-size: 1.85rem;
    width: 50%;
    text-align: center;
}
.description {
    background-color: rgba(0, 0, 0, 0.9 );
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
}
.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 4em;
}
.description-info {
    line-height: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
iframe {
    width: 30%;
    margin: 45px 0px 45px 0px;
}
.products {
    background-color: rgba(0, 0, 0, 0.9 );
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.products button {
    width: 50%;
     background-color: #37af65;
    border:none;
    border-radius:3px;
}
.products button:hover {
    transform: scale(1.1);
}
.p-1 {
    text-align: center;
    font-size: 1.2rem;
}
.p-2 {
    text-align: center;
    font-size: 1.2rem;
}
.p-3 {
    text-align: center;
    font-size: 1.2rem;
}
footer {
    background-color: rgba(0, 0, 0, 0.9 );
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 1.25em;
}
footer a:hover {
    text-decoration: underline;
}
.foot-links {
    width: 30%;
    text-align: right;
}
.foot-copy {
    font-size: 1.25em;
    text-align: right;
    width: 30%;
}

/*MEDIA QUERIES*/ 

@media all and (min-width: 320px) and (max-width: 480px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    .main {
        margin: 0px;
    }
    header {
        justify-content: center;
        width: 100%;
    }
    .logo {
        font-size: 2em;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-bar a {
        width: 100%;
        text-align: center;
    }
    .title {
        width: 100%;
        text-align: center;
        font-size: 1.25em;
    }
    .description {
        flex-direction: column;
    }
    .icons {
        flex-direction: row;
        font-size: 3em;
    }
    .description-info {
        font-size: 12px;
        text-align: center;
    }
    .description-info h3 {
        margin: 1px;
    }
    .description-info p {
        margin: 3px 3px 8px 3px;
    }
    iframe {
        width: 100%;
    }
    .products {
        margin: 0px;
        padding: 5px;
        width: 100%;
    }
    .products li {
        margin: 1px;
    }
    .products button {
        width: 60%;
    }
    .p-1 {
        width: 100%;
        margin: 3px;
    }
    .p-2 {
        width: 100%;
        margin: 3px;
    }
    .p-3 {
        width: 100%;
        margin: 3px;
    }
    footer {
        width: 100%;
        align-items: center;
    }
    .foot-links {
        width: 95%;
        text-align: center;
    }
    .foot-copy {
        width: 95%;
        text-align: center;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    .main {
        margin: 0px;
    }
    header {
        justify-content: center;
        width: 100%;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-bar a {
        width: 100%;
        text-align: center;
    }
    .title {
        width: 100%;
        text-align: center;
        font-size: 1.25em;
    }
    .description {
        flex-direction: column;
        width: 100%;
    }
    .icons {
        flex-direction: row;
        font-size: 3em;
    }
    .description-info {
        font-size: 16px;
        text-align: center;
    }
    .description-info h3 {
        margin: 1px;
    }
    .description-info p {
        margin: 3px 3px 20px 3px;
    }
    iframe {
        width: 75%;
    }
    .products {
        margin: 0px;
        padding: 5px;
        width: 100%;
        justify-content: center;
    }
    .products li {
        margin: 1px;
    }
    .products button {
        width: 60%;
    }
    .p-1 {
        width: 80%;
        margin: 3px;
    }
    .p-2 {
        width: 80%;
        margin: 3px;
    }
    .p-3 {
        width: 80%;
        margin: 3px;
    }
    footer {
        width: 100%;
        align-items: center;
    }
    .foot-links {
        width: 95%;
        text-align: center;
    }
    .foot-copy {
        width: 95%;
        text-align: center;
    }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    .main {
        margin: 0px;
    }
    .logo {
        font-size: 1.2em;
    }
    .nav-bar {
        font-size: 1em;
        display: flex;
        justify-content: center;
    }
    .nav-bar a {
        margin: 3px;
    }
    .title {
        font-size: 1.5em;
        width: 90%;
        text-align: center;
    }
    .description {
        width: 100%;
    }
    iframe {
        width: 65%;
    }
    .products {
        justify-content: center;
    }
    .foot-links {
        width: 50%;
    }
    .foot-links a {
        font-size: 1.2em;
    }
    .foot-copy {
        width: 50%;
        font-size: 1.2em;
        margin: 0px 10px 0 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    .main {
        margin: 0px;
    }
    .logo {
        font-size: 1.5em;
    }
    .nav-bar a {
        font-size: 2.5em;
        margin: 1px;
    }
    .title {
        width: 90%;
        text-align: center;
    }
    .description {
        width: 90%;
    }
    iframe {
        width: 60%;
    }
    .products {
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-evenly;
    }
    .foot-links {
        width: 50%;
        text-align: center;
    }
    footer {
        align-items: center;
    }
    .foot-links a {
        font-size: 1.2em;
    }
    .foot-copy {
        width: 50%;
        font-size: 1.2em;
        margin: 0px 10px 0 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
    }
}
@media all and (min-width: 1201px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    .main {
        margin: 0px;
    }
}