* {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
body {
    color: white;
    background-color: tomato;
    font-family: monospace;
}
.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
header {
    background-color: teal;
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}
header h2 {
    font-size: 2.5em;
}
header a {
    font-size: 1.5em;
    color: white;
}
header a:hover {
    text-decoration: underline;
}
.logo {
    background-color: violet;
    margin-left: 3%
}
.nav-bar {
    background-color: violet;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-1 {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}
.form-1 input {
    width: 65%;
    text-align: center;
}
.form-1 button {
    width: 25%;
    background-color: #37af65;
    border:none;
    border-radius:3px;
}
.form-1 button:hover {
    transform: scale(1.1);
}
.info-service {
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    width: 70%;
}
.icons {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 4em;
}
.service {
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.service h2 {
    font-size: 1.8em;
}
.service p {
    font-size: 1.3em;
}
iframe {
    width: 45%;
}
.suscriptions {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    width: 70%;
}
.suscription-1 {
    background-color: crimson;
    text-align: center;
    width: 33%;
}
.suscription-1 li {
    text-align: left;
    font-size: 0.85em;
    padding: 4px;
}
.suscription-2 {
    background-color: crimson;
    text-align: center;
    width: 33%;
}
.suscription-2 li {
    text-align: left;
    font-size: 0.85em;
    padding: 4px;
}
.suscription-3 {
    background-color: crimson;
    text-align: center;
    width: 33%;
}
.suscription-3 li {
    text-align: left;
    font-size: 0.85em;
    padding: 4px;
}
.suscriptions button {
    width: 50%;
    background-color: #37af65;
    border:none;
    border-radius:3px;
}
.suscriptions button:hover {
    transform: scale(1.1);
}
.foot {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    justify-content: center;
}
.foot-links {
    background-color: darkred;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 3px;
}
.foot-links a {
    color: white;
    font-size: 14px;
    margin: 2px;
    padding: 2px;    
}
.foot-links a:hover {
    text-decoration: underline;
}
.foot-copy {
    background-color: deeppink;
    width: 30%;
    margin: 0px;
    padding: 3px;
    display: flex;
    justify-content: center;
}
.foot-copy p {
    font-size: 14px;
    margin: 2px;
    padding: 2px;  
}

/*MEDIA QUERIES*/

@media all and (min-width: 320px) and (max-width: 480px) {
    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin: 0px;
        padding: 0px;
    }
    .container {
        margin: 0px;
    }
    header {
        flex-direction: column;
    }
    .logo {
        width: 95%;
        text-align: center;
        font-size: 1.3em;
    }
    .nav-bar {
        text-align: center;
        width: 99%;
    }
    .nav-bar a {
        margin: 0px;
        width: 99%;
        background-color: blue;
        border: white solid 2px;
    }
}